.actor {
	position: absolute;
	width: 20px;
	height: 20px;
	background: black;
  top: 480px;
	left: 50%;
	margin-left:-10px;
	@include border-radius(100%);
	@include transition-property(rotate);
	@include transition-duration(1s);

	&.rotate-to-right {
		@include rotate(85deg);
	}
	&.rotate-to-left {
		@include rotate(-85deg);
	}
	&.rotate-to-up {
		@include rotate(0deg);
	}
	&.rotate-to-down {
		@include rotate(180deg);
	}

}

.actor:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #000;
	z-index: 1;
	top: -4px;
	left: 50%;
	margin-left: -6px;
}
